body{
   background-color: adjust-hue($color: #80133b, $degrees: 0) !important;
}

.navHeader {
    padding-left: 50em;
    color: rgba(158, 158, 158, 0.673)!important;
}

#lineContainer{
    padding-top: 20px;
    height: 400;
    width: 800px;
}

.modal-setlist{
    padding-left: 1em;
}