body{
//    background-color: adjust-hue($color: #131380, $degrees: 0) !important;
background-image: url(../images/painio.jpg);
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
opacity: 0.7;
// background-repeat: no-repeat;
}

.searchByDate{
    color: slategray;
}

.navHeader {
    padding-left: 50em;
    color: rgba(158, 158, 158, 0.673)!important;
}

.modal-setlist{
    padding-left: 1em;
    color: lightslategray;
}

.era{
    color: slategray;
}

.nittyGritty{
    font-size: 6.5rem;
}

// Graph Css
#lineContainer{
    // padding-top: 20px;
    height: 400;
    width: 800px;
    background-color: whitesmoke;
    margin-bottom: 2em; 
    margin-top: 2em ;
    padding: 30px;
}

#lineList{
    color: whitesmoke;

}

#pieContainer{
    height: 350px;
    width: 700px;
    margin-top: 2em;

}

#barContainer{
    height: 400;
    width: 800px;
    background-color: whitesmoke;
    margin-top: 2em;
}

#bubbleStyle{
    height: 400px;
    width: 800px;
}

// Dates page styling

.headerGraphs{
    margin-top: 4em;
}

.headerGraphsTop{
    margin-top: 2em;
}

// Google Maps Css
#map{
    height:700px; 
    width:100% !important; 
    }

.note{
    width: 100%;
}

// Note Styling
.card-body{
    color: slategray;
}

//  main user stats page styling

.breadcrumb{
    margin-bottom: 0em !important;
}
.jumbotron-fluid {
    padding-left: 25em !important;
    color: slategray;
    margin-bottom: 0em;
    background-image: url("../images/phsihDonuts.png");
    font-weight: bold;
}

.timesSeen{
    height: 80%;
    margin: 8em;
    background-color: slategray;

}


#mainLineContainer{
    height: 400px;
    width: 800px;
    background-color: whitesmoke;
    margin-bottom: 25em; 
    margin-top: 8em ;
    padding: 30px;
}

// Users Shows Styling

.userShowsCard{
    opacity: 0.5;
    color: black;
}

// Maing log in page styling

.googleLogin{
    margin-left: 42em;
    margin-top: 10em;
}