<!-- Bread Crumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#!/dates">Dates</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#!/songs">Songs</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#!/map">Map</a>
        </li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class=" no-gutters col-md-6 map">
            <ng-map id="map" zoom="5" center="[37.0902, -91.7129]" on-center-changed="centerCustomMarker()">
                <marker ng-repeat="show in latLongArr " position="[{{show.lat}}, {{show.long}}]" on-click="showNote(show.showId)"></marker>
                <marker ng-repeat="show in noLatLongArr " position="{{show.venue}}, {{show.location}}" on-click="showNote(show.showId)"></marker>
            </ng-map>
        </div>
        <div >
            <div  class="card">
                <div ng-repeat="note in notes" ng-if="note.showId === selectedShow" class="card-body col-md-12">
                    {{note.note}} 
                </div>
            </div>
        </div>
    </div>
</div>

