<!-- Bread Crumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#!/stats">Stats Overview</a>
        </li>
        <li class="breadcrumb-item">
            <a href="">Dates</a>
        </li>
        <li class="breadcrumb-item">
            <a href="">Songs</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#!/map">Map</a>
        </li>
    </ol>
</nav>

<ng-map id="map" zoom="4" center="[37.0902, -95.7129]" on-center-changed="centerCustomMarker()">
    <marker ng-repeat="show in shows" position="{{show.venue}}, {{show.location}}" on-click="showCustomMarker()"></marker>
    <custom-marker id="foo" on-click="closeCustomMarker()">
        <div id="markerStyle">
            <br/> People call me as Mr. President.
            <br/> We live in this house.
    </custom-marker>
</ng-map>
