<!-- Bread Crumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#!/stats">Stats Overview</a>
        </li>
        <li class="breadcrumb-item">
            <a href="">Dates</a>
        </li>
        <li class="breadcrumb-item">
            <a href="">Songs</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#!/map">Map</a>
        </li>
    </ol>
</nav>

<ng-map zoom="2" center="[43.6650000, -79.4103000]" ></ng-map>