<!-- Div that outputs search bar/ passes value to make call to get data back  -->
<form>
    <div class="form-group">
        <h3>Search By Date</h3>
        <div class="col-sm-3">
            <input ng-model="searchForShowByDate" type="txt" class="form-control" id="exampleFormControlInput1" placeholder="YYYY-MM-DD">

            <br>
            <button class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg" ng-click="searchByDate()">Search</button>
        </div>
    </div>
</form>

<!-- outputs data/ songs that were played at the show user's searched -->
<!-- <div ng-show="mustShowButton"> Not sure if i need this now?-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div>
                <div>
                    <h3>{{venue.name}}</h3>
                    <br>
                    <h4>Set 1</h4>
                    <hr>
                    <br>
                    <span ng-repeat="song in songs | filter:{set:'1'} ">{{song.title}} | </span>
                </div>
                <div>
                    <br>
                    <h4>Set 2</h4>
                    <hr>
                    <br>
                    <span ng-repeat="song in songs | filter:{set:'2'} ">{{song.title}} | </span>
                </div>
                <div>
                    <br>
                    <h3>Encore</h3>
                    <hr>
                    <br>
                    <span ng-repeat="song in songs | filter:{set:'E'} ">{{song.title}} | </span>
                </div>
            </div>
            <div>
                <br>
                <button class="btn btn-secondary" ng-click="addSeenShow()">Add Seen Shows</button>
            </div>
        </div>
    </div>
</div>

<!-- div that has input search in a drop down by era 3.0/2.0/1.0 -->
<div class="era">
    <h4>Search By Era</h4>
    <div class="col-sm-3">
        <select class="form-control" id="exampleFormControlSelect1" ng-model="searchForShowByEra" name="phishEras">
            <option value="3.0">3.0</option>
            <option value="2.0">2.0</option>
            <option value="1.0">1.0</option>
        </select>
        <br>
        <input class="btn btn-secondary" ng-click="searchByEra()" type="submit">
    </div>
    <!-- output era dates -->
    <div class="list-group">
        <div class="col-sm-3">
            <a class="list-group-item list-group-item-action" g-model="searchForShowsByYears" ng-click="rederictShowsByEra(eraDate)" ng-repeat="eraDate in eraDates">{{eraDate}}</a>
        </div>
    </div>
</div>

