<div ng-init="showYear()">
    <!-- add a header that displays the Era above list of shows -->
    <ul>
        <li ng-model="showsInYears" ng-click="showsThisYear(show.date)" ng-repeat="show in shows">{{show.date}}
            <div ng-show=" show.id === showObject.showId">
                <div>
                    <div>
                        <h3>{{venue.name}}</h3>
                        <br>
                    </div>
                    <div>
                        <h3>Set 1</h3>
                        <hr>
                        <br>
                        <span ng-repeat="song in songs | filter:{set:'1'} ">{{song.title}} | </span>
                    </div>
                    <div>
                        <h3>Set 2</h3>
                        <hr>
                        <br>
                        <span ng-repeat="song in songs | filter:{set:'2'} ">{{song.title}} | </span>
                    </div>
                    <div>
                        <h3>Encore</h3>
                        <hr>
                        <br>
                        <span ng-repeat="song in songs | filter:{set:'E'} ">{{song.title}} | </span>
                    </div>
                </div>
                <div>
                    <br>
                    <button ng-click="addSeenShow()">Add Seen Shows</button>
                </div>
            </div>
        </li>    
    </ul>
</div>