<!-- Bread Crumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item">
            <a href="#!/stats">Stats Overview</a>
        </li> -->
        <li class="breadcrumb-item">
            <a href="#!/dates">Dates</a>
        </li>
        <!-- <li class="breadcrumb-item">
            <a href="#!/songs">Songs</a>
        </li> -->
        <li class="breadcrumb-item">
            <a href="#!/map">Map</a>
        </li>
    </ol>
</nav>

<!-- Word Cloud -->
<div id="wordsCloud">
    <word-cloud words="words" width="width" height="height" padding="10" rotate="rotate" random="random"
        use-tooltip="useTooltip" use-transition="useTransition" on-click="wordClicked">
    </word-cloud>
</div>