<!-- Bread Crumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#!/dates">Dates</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#!/songs">Songs</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#!/map">Map</a>
        </li>
    </ol>
</nav>

<div class="container-fluid row">
    <div class=" col-md-4 d-flex align-items-stretch">
        <div class="card row no-gutters" style="width: 18rem;">
            <div class="card-body userShowsCard">
                <h5 class="card-title">Youve Seen Phish</h5>
                <h2 class="card-text">{{amountOfShows}} Times!</h2>
                <button class="btn btn-secondary" ng-click="seeShows()">See All Shows</button>
            </div>
        </div>
    </div>
    <div class=" col-md-4 d-flex align-items-stretch">
        <div class="card row no-gutters" style="width: 18rem;">
            <div class="card-body userShowsCard">
                <h5 class="card-title">Most Seen Song</h5>
                <h2 class="card-text">{{mostSeenSong}}</h2>
                <button class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">See All Songs</button>
            </div>
        </div>
    </div>
    <!-- Modal for all songs seen and amount of times seen -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-setlist">
                    <ul ng-repeat="song in countedSongsArr">
                        <li ng-repeat="i in song ">{{i}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-4 d-flex align-items-stretch">
        <div class="card row no-gutters" style="width: 18rem;">
            <div class="card-body userShowsCard">
                <h5 class="card-title">Favorite Venue</h5>
                <h2 class="card-text">{{mostSeenVenue}}</h2>
                <button class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg2">See All Venues</button>
            </div>
        </div>
    </div>
    <!-- Modal for all venues seen and amount of times seen -->
    <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-setlist">
                    <ul ng-repeat="venue in countedVenueArr">
                        <li ng-repeat="x in venue">{{x}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>