<!-- Bread Crumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item">
            <a href="#!/stats">Stats Overview</a>
        </li> -->
        <li class="breadcrumb-item">
            <a href="#!/dates">Dates</a>
        </li>
        <!-- <li class="breadcrumb-item">
            <a href="#!/songs">Songs</a>
        </li> -->
        <li class="breadcrumb-item">
            <a href="#!/map">Map</a>
        </li>
    </ol>
</nav>

<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">The Nitty Gritty</h1>
    </div>
</div> -->

<div class="container-fluid ">
    <div class="row graphAndTimesSeen">
        <div class="card col-12 col-sm-3 d-flex align-items-stretch no-gutters  offset-sm-1 timesSeen">
            <div class="row">
            
            <div class="card-header">Golgi Apparatus</div>
                <p class="card-text">You've seen phish {{seenThisManyTimes}} times!</p>
    
            </div>
            <div class="row">
                
                    <div class="card-header">Most Seen Song</div>
                    <p class="card-text">Tweezer</p>
                
            </div>
            <div class="row">
                
                    <div class="card-header">Favorite Venue</div>
                    <p class="card-text">Madison Square Garden</p>
                
            </div>
            </div>
            
            

            <div class="col-md-6 no-gutters offset-sm-1" id="mainLineContainer">
                    <canvas id="line" class="chart chart-line " chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride"></canvas>
            </div>
            </div>
        </div>
    </div>
</div>    



