<!-- Bread Crumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#!/stats">Stats Overview</a>
        </li>
        <li class="breadcrumb-item">
            <a href="">Dates</a>
        </li>
        <li class="breadcrumb-item">
            <a href="">Songs</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#!/map">Map</a>
        </li>
    </ol>
</nav>

<!-- Line Graph Angular Js Charts -->
<div id="lineContainer">
    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride">
    </canvas>
</div>


<!-- Doughnout Chart Angular Js Charts -->
<div id="pieContainer">
    <canvas id="pie" class="chart chart-pie" chart-data="pieData" chart-labels="pieLabels"></canvas>
</div>

<!-- Bar Char Angular Js Charts -->
<div id="barContainer">
    <canvas id="base" class="chart-bar" chart-data="barData" chart-labels="barLabels" chart-colors="colors" chart-dataset-override="barDatasetOverride">
    </canvas>
</div>